<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog Django</title>
</head>
<body>
    <header>
        <h1>Bienvenido al Blog</h1>
        <nav>
            <a href="{% url 'index' %}">Inicio</a> |
            <a href="{% url 'agregar_datos' %}">Agregar Datos</a> |
            <a href="{% url 'buscar_producto' %}">Buscar Producto</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
